/*Make parent element a flex container*/
body{
  background-color: #86d18a;
  
}
ul   {
  display:flex  ; /*or inline-flex*/
  list-style-type: none;;
  flex-flow:row wrap ;
  justify-content: space-around;

}

li {
  width: 200px;
  height: 100px;
  background-color: #8cacea;
  text-align:center;
  margin: 4px;
}